KAFKA_ADVERTISED_HOST_NAME=FIXME: for now, ip address of deployed host
AWS_DEFAULT_REGION=us-west-2
AWS_SECRET_ACCESS_KEY=abc123
AWS_ACCESS_KEY_ID=abc123
KAFKA_WEATHER_TOPIC=weather
PAPERTRAIL_DESTINATION=udp://logs<X>.papertrailapp.com:<port>
POSTGRES_PASSWD=secret
